/*
CSS file for demo.html.
*/

body {
	font-family: Helvetica, swiss!important;
}
h3 {
	text-align: center!important;
}
label {
	width: 200px!important;
}
td {
	padding: 5px!important;
}
option {
	background-color: #eee!important;
	border: 1px solid grey!important;
	padding: 3px!important;
	margin: 2px!important;
}

#ui {
	display: flex!important;
	width: 100%!important;
	margin-bottom: 20px!important;
}

#left-box, #right-box {
	display: inline-block!important;
}

#left-box {
	width: 40%!important;
}

#right-box {
	width: 60%!important;
	display:flex!important;
	padding-left: 20px!important;
}

#songs {
   height: 8em!important;
   width: calc(100% - 10px)!important;
   margin: 5px!important;
}

#songs:focus {
	outline: none!important;
}

.song-name {
	margin: 2px!important;
	padding: 3px!important;
	border: 1px solid black!important;
	background-color: rgba(0, 0, 0, 0.1)!important;
	text-overflow: ellipsis!important;
	overflow: hidden!important;
	cursor: pointer!important;
}

.song-name > input {
    margin-right: 5px!important;
}

.song-columns>div {
	display: inline-block!important;
	position:relative!important;
	float:left!important;
	padding:5px!important;
}

.song {
	page-break-after:auto!important;
	page-break-inside: avoid!important;
	padding:5px!important;
	width: 100%!important;
}

.song:last-of-type {
	page-break-after:avoid!important;
}

.song:empty {
	display: none!important;
}

.song.container {
	padding-bottom: 20px!important;
	border-bottom: 1px solid grey!important;
	width: 100%!important;
	font-kerning: normal!important;
}

.song >div {
	padding-bottom: 10px!important;
}

.song .chords {
	font-size:24pt!important;
	page-break-inside: avoid!important;
}

.song .text {
	font-size: 13pt!important;
	margin-bottom: 10px!important;
}

.song .header {
	display: flex!important;
	width: 100%!important;
}

.song .header>div {
	flex: 1 1 auto!important;
	text-align: center!important;
	vertical-align: bottom!important;
}

.song .header>div:first-child, .song .header>div:last-child {
	flex: 0 0 auto!important;
}

#page {
	/* Let us assume A4 format for now */
	width: 21cm!important;
	margin-left: auto!important;
	margin-right: auto!important;
	background:floralwhite!important;
	border: 1px solid #ccc!important;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(204,198,204,1)!important;
	-moz-box-shadow: 10px 10px 5px 0px rgba(204,198,204,1)!important;
	box-shadow: 10px 10px 5px 0px rgba(204,198,204,1)!important;	
    padding: 10mm 10mm 10mm 20mm!important;
}

@media print {
	#ui {
		display: none!important;
	}

	#page {
		width: inherit!important;
		height: inherit!important;
		border: none!important;
		-webkit-box-shadow: none!important;
		-moz-box-shadow: none!important;
		box-shadow: none!important;	
		padding: 0!important;
	}
}
